body {
  background-color:black
}
p {
  color:white;
}
p1 {
  color:white;
}
p2 {
  color:white;
}
p3 {
  color:white;
}
p4 {
  color:white;
}
p5 {
  color:white;
}
p6 {
  color:white;
}
p7 {
  color:white;
}
h1 {
  color:skyblue;
}
p a {
  color:orange;
}
p6 a {
  color:orange;
}